@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  scrollbar-gutter: stable;
  margin: 0;
  background-color: #0f1117;
  color: #fff;
  font-family: 'Inter', sans-serif;
  background-image:
    radial-gradient(at 0% 0%, rgba(56, 189, 248, 0.1) 0px, transparent 50%),
    radial-gradient(at 100% 0%, rgba(139, 92, 246, 0.1) 0px, transparent 50%);
  background-attachment: fixed;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Outfit', sans-serif;
}